.site-box {
  background-image: url("https://bebop.nekoweb.org/ed.png");
  background-size: contain;
  background-position: center;
}

.site-box > a {
	display: block;
	width: 100%;
	height: 100%;
}

.site-box > a > .sitefeature {
  display: none;
}

.site-box > a > .sitefeature > .screenshot {
  display: none;
}

.site-box > a > p {
  display: none;
}

.site-box > a > span {
  display: none;
}